<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define ProductName="PowerEnv" ?>
  <?define ProductVersion="1.0.0.0" ?>
  <?define ProductCode="FC0D9C67-DE9C-40D3-892F-57CF5EA89BD6"?>
  <?define UpgradeCode="0796F069-E912-4156-82C9-422D7848175D"?>
  <?define Manufacturer="Shogun"?>

  <Product
    Id="$(var.ProductCode)"
    Name="$(var.ProductName)"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="$(var.Manufacturer)"
    UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>
    
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

    <Icon Id="Icon.ico" SourceFile="Images\Icon.ico"/>
    <WixVariable Id="WixUIBannerBmp" Value="Images\Top.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Images\Background.bmp" />

    <Property Id="ARPPRODUCTICON" Value="Icon.ico" />

    <UIRef Id="WixUI_Mondo_Modified"/>

    <Feature Id="PowerEnvFeature"
             Title="Install everything"
             Description="Installs all powershell functions, scripts, modules etc."
             Level="1"
             ConfigurableDirectory="PRODUCTFOLDER">
      <ComponentRef Id="EnvComponent" />
      <ComponentRef Id="InitializeEnvComponent" />
      <ComponentRef Id="GitComponent" />
      <ComponentRef Id="MSBuildComponent" />
      <ComponentRef Id="AAComponent" />
      <ComponentRef Id="ChocoDeployComponent" />
      <ComponentRef Id="PowerEnvDesktopShortcutComponent" />
      <ComponentRef Id="PowerEnvStartMenuShortcutComponent" />
      <ComponentRef Id="PowerEnvStartupShortcutComponent" />
      <ComponentRef Id="PowerEnvConsoleSetupComponent" />
    </Feature>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="PRODUCTFOLDER" Name="$(var.ProductName)">
          <Directory Id="FUNCTIONS" Name="Functions"/>
          <Directory Id="SCRIPTS" Name="Scripts"/>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="$(var.ProductName)" />

      <Directory Id="ProgramMenuFolder" Name="$(var.ProductName)"/>

      <Directory Id="StartupFolder" Name="$(var.ProductName)"/>

    </Directory>
  </Fragment>

  <Fragment>

    <DirectoryRef Id="PRODUCTFOLDER" FileSource ="..\PowerEnv\" DiskId='1'>
      <Component Id="InitializeEnvComponent" Guid="A64822F4-12AC-4208-8C7A-4D588209DA93" KeyPath="yes">
        <File Id="InitializeEnv.ps1" Name="InitializeEnv.ps1"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="FUNCTIONS" FileSource ="..\PowerEnv\Functions\" DiskId='1'>
      
      <Component Id="EnvComponent" Guid="F5193FA4-BC3D-4D60-843E-C9A4EFA163A9" KeyPath="yes">
        <File Id="Env.ps1" Name="Env.ps1"/>
      </Component>

      <Component Id="GitComponent" Guid="D85FE3DF-3D5C-43CA-B6B7-4324404F419D" KeyPath="yes">
        <File Id="Git.ps1" Name="Git.ps1"/>
      </Component>

      <Component Id="MSBuildComponent" Guid="E479C8D5-8742-4635-8302-C614382EB6A8" KeyPath="yes">
        <File Id="MSBuild.ps1" Name="MSBuild.ps1"/>
      </Component>
      
    </DirectoryRef>

    <DirectoryRef Id="SCRIPTS" FileSource ="..\PowerEnv\Scripts\" DiskId='1'>
      
      <Component Id="AAComponent" Guid="4EED7FEF-5895-4542-8960-16A366845BB8" KeyPath="yes">
        <File Id="AABuild.ps1" Name="AABuild.ps1"/>
        <File Id="AABuildDebugX64.ps1" Name="AABuildDebugX64.ps1"/>
        <File Id="AABuildReleaseX64.ps1" Name="AABuildReleaseX64.ps1"/>
        <File Id="AABuildReleaseDebugX64.ps1" Name="AABuildReleaseDebugX64.ps1"/>
      </Component>

      <Component Id="ChocoDeployComponent" Guid="37C7EE52-5D7D-4561-95E0-94664A9FA2F1" KeyPath="yes">
        <File Id="ChocoDeploy.ps1" Name="ChocoDeploy.ps1"/>
      </Component>
      
    </DirectoryRef>

    <Component Id="PowerEnvDesktopShortcutComponent" Guid="D6E06580-EE96-4DEC-84FE-468DD43C9514" Directory="DesktopFolder">
      
      <Shortcut
        Id="PowerEnvShortcut"
        Name="$(var.ProductName)"
        Description="$(var.ProductName)"
        Target="[WindowsFolder]system32\WindowsPowerShell\v1.0\powershell.exe"
        Arguments="-NoExit -File &quot;[PRODUCTFOLDER]InitializeEnv.ps1&quot;"
        WorkingDirectory="PRODUCTFOLDER"
        Icon="Icon.ico"/>

      <RemoveFolder Id="DesktopFolder" On="uninstall"/>

      <RegistryValue
        Root="HKCU"
        Key="Software\$(var.Manufacturer)\$(var.ProductName)\Shortcuts\Desktop"
        Name="installed"
        Type="integer"
        Value="1"
        KeyPath="yes"/>
    
    </Component>

    <Component Id="PowerEnvStartMenuShortcutComponent" Guid="9605031B-CC49-423F-ABC5-08B1E379B17F" Directory="ProgramMenuFolder">

      <Shortcut
        Id="PowerEnvShortcutStartMenu"
        Name="$(var.ProductName)"
        Description="$(var.ProductName)"
        Target="[WindowsFolder]system32\WindowsPowerShell\v1.0\powershell.exe"
        Arguments="-NoExit -File &quot;[PRODUCTFOLDER]InitializeEnv.ps1&quot;"
        WorkingDirectory="PRODUCTFOLDER"
        Icon="Icon.ico"/>

      <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>

      <RegistryValue
        Root="HKCU"
        Key="Software\$(var.Manufacturer)\$(var.ProductName)\Shortcuts\StartMenu"
        Name="installed"
        Type="integer"
        Value="1"
        KeyPath="yes"/>
    </Component>

    <Component Id="PowerEnvStartupShortcutComponent" Guid="66B0EB02-DEA7-4470-BE39-70AC1CD79127" Directory="StartupFolder">

      <Shortcut
        Id="PowerEnvShortcutStartup"
        Name="$(var.ProductName)"
        Description="$(var.ProductName)"
        Target="[WindowsFolder]system32\WindowsPowerShell\v1.0\powershell.exe"
        Arguments="-NoExit -File &quot;[PRODUCTFOLDER]InitializeEnv.ps1&quot;"
        WorkingDirectory="PRODUCTFOLDER"
        Icon="Icon.ico"/>

      <RemoveFolder Id="StartupFolder" On="uninstall"/>

      <RegistryValue
        Root="HKCU"
        Key="Software\$(var.Manufacturer)\$(var.ProductName)\Shortcuts\Startup"
        Name="installed"
        Type="integer"
        Value="1"
        KeyPath="yes"/>
    </Component>

    <Component Id="PowerEnvConsoleSetupComponent" Guid="731DC699-96AC-47DD-BC99-664C9396880D" Directory="PRODUCTFOLDER">

      <!-- Configure console view (Fonts, colors etc.) as standard view of the PowerShell console -->
      <RegistryKey
        Root="HKCU"
        Key="Console\$(var.ProductName)"
        Action="createAndRemoveOnUninstall">
        <RegistryValue Type="integer" Name="ColorTable05" Value="5645313"/>
        <RegistryValue Type="integer" Name="ColorTable06" Value="15789550"/>
        <RegistryValue Type="string" Name="FaceName" Value="Lucida Console"/>
        <RegistryValue Type="integer" Name="FontFamily" Value="54"/>
        <RegistryValue Type="integer" Name="FontWeight" Value="400"/>
        <RegistryValue Type="integer" Name="PopupColors" Value="243"/>
        <RegistryValue Type="integer" Name="QuickEdit" Value="1"/>
        <RegistryValue Type="integer" Name="ScreenBufferSize" Value="196608120"/>
        <RegistryValue Type="integer" Name="ScreenColors" Value="86"/>
        <RegistryValue Type="integer" Name="WindowSize" Value="3276920"/>
      </RegistryKey>
    </Component>
    
  </Fragment>
  
  <Fragment>
    
    <UI Id="WixUI_Mondo_Modified">
      
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Mondo" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT Installed AND NOT PATCH</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>
      
      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg" Order="2">LicenseAccepted = "1"</Publish>
      
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" Order="1">1</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="2">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="4">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>
      
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
      
    </UI>

    <UIRef Id="WixUI_Common" />
  
  </Fragment>

</Wix>
