<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define ProductName="PowerEnv" ?>
  <?define ProductVersion="1.0.0.0" ?>
  <?define ProductCode="FC0D9C67-DE9C-40D3-892F-57CF5EA89BD6"?>
  <?define UpgradeCode="0796F069-E912-4156-82C9-422D7848175D"?>
  <?define Manufacturer="Shogun"?>

  <Product
    Id="$(var.ProductCode)"
    Name="$(var.ProductName)"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="$(var.Manufacturer)"
    UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="PowerEnvFeature"
             Title="Install everything"
             Description="Installs all powershell functions, scripts, modules etc."
             Level="1"
             ConfigurableDirectory="PRODUCTFOLDER">
    </Feature>
    
  
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="PRODUCTFOLDER" Name="$(var.ProductName)"/>
      </Directory>
    </Directory>
  </Fragment>
  
</Wix>
